<label for="player_name">Title</label>
<input id="player_name" name="name" type = "text" value="<%= @player.name %>">
<select id="player_position" name="position">
  <option value="F">Forward</option>
  <option value="M">Midfielder</option>
  <option value="D">Defender</option>
  <option value="GK">Goalkeeper</option>
</select>

