<h1>Players</h1>

<ul>
<% @players.each do |player| %>
  <li><a href="players/<%= player.id %>"><%= player.name %></a></li>
<% end %>
</ul>

<a href="/players/new">Click here to add a new player.</a>
