<h1>Players</h1>

<ul>
<% @players.each do |player| %>
  <li><a href="players/<%= player.id %>"><%= player.name %></a></li>
<% end %>
</ul>

<%= link_to "Add New Player", new_player_path, :class => "btn btn-default" %>
<%= link_to "Return to Team Index", teams_path, :class => "btn btn-default" %>
